{% load static %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'semantic-ui/semantic.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% block style %}
    <link rel="stylesheet" href="{% static 'semantic-ui/semantic.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endblock %}

{% block content %}
<div id="info-container">

<img id="cover" class="ui medium image" src="{{ book.image_url }}">
<iframe id="preview" width="371" height="604" type="text/html" frameborder="0" allowfullscreen style="max-width:100%" src="https://read.amazon.com/kp/card?asin={{book.isbn}}&preview=inline&linkCode=kpe&ref_=cm_sw_r_kb_dp_AxLlDb9YE0N7Q" ></iframe>
<h2>{{ book.title }}
    <span class="author-name">{{ book.writer }}</span>
</h2>
<div class="ui top attached tabular menu">
    <a class="item active" data-tab="book">
      Book
    </a>
    <a class="item" data-tab="author">
      Author
    </a>
</div>
<div class="ui bottom attached tab segment active" data-tab="book">
    <h3 class="ui dividing header">
        Summary
    </h3>
    {% if book.summary == "" %}
        <p>This book has no summary.</p>
    {% else %}
        <p>{{ book.summary|linebreaks }}</p>
    {% endif %}
    <h3 class="ui dividing header">
        ISBN
        <i id="open-edit-isbn" class="pencil alternate icon"></i>
    </h3>
    {% if book.isbn == "" %}
        <p>No ISBN info.</p>
    {% else %}
        <p>{{ book.isbn }}</p>
    {% endif %}
</div>
<div class="ui bottom attached tab segment" data-tab="author">
    <h3 class="ui dividing header">
        About the Author
        <i class="pencil alternate icon"></i>
    </h3>
    {% if book.writer.bio == "" %}
        There is no author information.
    {% else %}
        {{ book.writer.bio|linebreaks }}
    {% endif %}
</div>

<div class="tiny ui modal">
    <div class="header">Edit "About the Author"</div>
    <div class="content">
        <div class="ui form">
            <h4 class="ui dividing header">Tell us more about this author</h4>
            <div class="field">
                <label>About</label>
                <textarea name="bio" id="bio" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div class="ui approve button">Save</div>
    </div>
</div>

<div id="edit-isbn" class="tiny ui modal">
    <div class="header">Edit ISBN</div>
    <div class="content">
        <div class="ui form">
            <h4 class="ui dividing header">What ISBN did you want stored?</h4>
            <div class="field">
                <input name="isbn" id="isbn">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div class="ui approve button">Save</div>
    </div>
</div>

</div>
{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function(){
        $("#preview").hide();
    });

    $('.menu .item')
        .tab()
    ;

    $('.tiny.modal')
        .modal('attach events', '.pencil.icon', 'show')
        .modal({
            onApprove: function() {
                $.ajax({
                    url: "{% url 'books:edit_about_the_author' %}",
                    method: "post",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        author: '{{ book.writer }}',
                        bio: $("textarea[name='bio']").val()
                    },
                    success: function(data) {
                        if (data.status == 200) {
                            window.location.reload();
                        }
                    }
                });
            }
        })
    ;

    $('#edit-isbn')
        .modal('attach events', '#open-edit-isbn', 'show')
        .modal({
            onApprove: function() {
                $.ajax({
                    url: "{% url 'books:edit_isbn' %}",
                    method: "post",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        book: '{{ book.id }}',
                        isbn: $("input[name='isbn']").val()
                    },
                    success: function(data) {
                        if (data.status == 200) {
                            window.location.reload();
                        }
                    }
                });
            }
        })
    ;

    $('.tiny.modal')
        .modal('attach events', '.preview-btn', 'show')
    ;

    $('#cover').on("click", function(){
        $(this).hide();
        $("#preview").show();
    });

</script>
{% endblock %}