{% load static %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'clamp/clamp.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% block style %}
<link rel="stylesheet" href="{% static 'semantic-ui/semantic.css' %}" />
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endblock %}

{% include 'include/header.html' %}

<div style="margin-top: 10px;" class="ui four stackable cards">
{% for book in books %}

    <a class="ui card" href="{% url 'books:detail' book.id %}">
        
        <div class="image">
            <img src="{{ book.image_url }}">
        </div>
        <div class="content">
            <div class="header">{{ book }}</div>
            <div class="meta">
                <span>{{ book.writer }}</span>
            </div>
            {% if book.summary == "" %}
                <div class="ui placeholder description">
                    <div class="paragraph">
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            {% else %}
                <div class="description">
                    {{ book.summary }}
                </div>
            {% endif %}
        </div>

    </a>

{% endfor %}
</div>

<script>
    $(".description").each(function(index, element) {
        $clamp(element, {clamp: 4, useNativeClamp: false});
    });
</script>