{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'semantic-ui/semantic.css' %}" />
{% endblock %}

{% include 'include/header.html' %}
<form style="padding:5px" class="ui form" action="{% url 'books:add_book' %}" method="post" >
    {% csrf_token %}
        
        <div class="three fields">
            <div class="field">
                <label>Title</label>
                <input type="text" name="title" id="title" placeholder="Title" value="">
            </div>

            <div class="field">
                <label>Author</label>
                <input type="text" name="author" id="author" placeholder="Author" value="">
            </div>

            <div class="field">
                <label>Image</label>
                <input type="text" name="image" id="image" placeholder="Image URL" value="">
            </div>
        </div>

        <div class="field">
            <label>Summary</label>
            <textarea name="summary" id="summary" rows="3" placeholder="Summarize the book...briefly"></textarea>
        </div>

        <button class="ui submit button" type="submit" value="Add">Add</button>
</form>

<div class="ui four stackable cards">
{% for book in books %}
    <div class="card">
        <div class="image">
            {% if book.image_url is None%}
            <div class="ui placeholder">
                <div class="square image"></div>
            </div>
            {% else %}
            <img src="{{ book.image_url }}">
            {% endif %}
        </div>

        <div class="content">
            <a class='uk-link-reset' href="{% url 'books:detail' book.id %}">{{ book }}</a>
            {{ book.writer }}
        </div>

        <div class="extra content">
            {{ book.summary }}
        </div>
    </div>
{% endfor %}
</div>